In [1]:
int("1")

1

In [2]:
str(1)

'1'

In [3]:
int(True)

1

In [4]:
int(False)

0

In [5]:
bool hansi = True

SyntaxError: invalid syntax (<ipython-input-5-2ce419db848d>, line 1)

In [6]:
bool(1)

True

In [7]:
25/5

5.0

In [8]:
25//5

5

In [9]:
import sys
print(sys.version)

3.7.1 (default, Dec 14 2018, 13:28:58)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [10]:
#comment

In [11]:
frint("ERROR")

NameError: name 'frint' is not defined

In [12]:
name = "HANSI"

In [13]:
name[0]

'H'

In [14]:
name[-1]

'I'

In [15]:
name[-15]

IndexError: string index out of range

In [16]:
name[-5]

'H'

In [17]:
name[::2]

'HNI'

In [18]:
name[0:2]

'HA'

In [19]:
name2 = name[0:2]

In [20]:
name2

'HA'

In [21]:
name3 = "Hundertwasser"

# slice from 0 every 2nd letter up to 7

In [22]:

name3[0:7:2]

'Hnet'

In [23]:
len(name3)

13

In [25]:
concatenate = name + name2

In [26]:
concatenate

'HANSIHA'

In [27]:
3*name

'HANSIHANSIHANSI'

In [28]:
3*"hund"

'hundhundhund'

In [29]:
#Strings are immutable

In [30]:
name[0] = "b"

TypeError: 'str' object does not support item assignment

In [31]:
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [32]:
print("hansi \t online")

hansi 	 online

In [34]:
print(r"was geht \ ab")

was geht \ ab

In [36]:
print("was geht ab \\")

was geht ab \

In [37]:
A = "all lower case"

In [38]:
B = A.upper()

In [39]:
B

'ALL LOWER CASE'

In [44]:
B.replace("LOWER", "UPPER")

'ALL UPPER CASE'

'ALL LOWER CASE'

In [47]:
B.find("LOWER")

4

In [48]:
str(1+1)

'2'

In [49]:
"hans".replace("h","fr")

'frans'

In [51]:
name = "Lizz"

In [52]:
name[0:2]

'Li'

In [2]:
lines = ["This is line A\n", "This is line B\n", "This is line c\n"]
with open("/Users/Dennis/Desktop/HOME/DataScience/JuypterNotebooks/test2.txt" ,"w") as file3:
    i = 0
    for line in lines:
        file3.write(line)
        print(i, line)
        i = i + 1

0 This is line A

1 This is line B

2 This is line c